*{
    box-sizing: border-box;
}
h1{
    position: relative;
    text-align: center;
}
h1::before{
    /* content: "Content Beffore"; */
    content: "";
    display: inline-block;
    width: 20px;
    height: 40px;
    background-color: yellow;
    margin-right: 30px;
    position: absolute;
    z-index: 1;
    left: 30px;
    top:0;
}
h1::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(12, 84, 239);
    margin-right: 30px;
    position: absolute;
    z-index: 2;
    left: 30px;
    top:0;
}

.arrow-link{
    display: inline-block;
}
.arrow-link::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: gold;
    margin-left: 5px;
}




.wrapper{
    width: 960px;
    margin: 0 auto;
}
.text-content{
    padding: 0 50px;
}
section div p{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: gray;
}
.text-center{
    text-align: center;
}
.footer-logo{
    margin-bottom: 20px;
}
.social-footer-link{
    display: inline-block;
    margin: 0 50px;
}
.header-content{
    width: 960px;
    margin: 0 auto; 
}
