*{
    box-sizing: border-box;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}
/* @media(min-width:1080px){
    .wrapper{
        width: 80%;
        background-color: orange;
        padding: 100px;
        font-size: 40px;
    }
}
@media(min-width:1300px){
    .wrapper{
        width: 80%;
        background-color: rgb(4, 104, 39);
        color: white;
    }
} */

/* @media(max-width:1400px){
    .wrapper{
        padding: 10px;
        font-size: 14px;
        background-color: red;
    }
} */

@media screen
 and (min-width:470px)
 and (max-width:780px){
    .wrapper{
        background-color: darkblue;
        color:orange;
        font-weight: bold;
        font-size: 40px;
    }
}


@media (800px <= width <= 1200px){
    .wrapper{
        background-color: darkgoldenrod;
        color:black;
        font-size: 50px;
    }
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("/fonts/OpenSans-Regular-webfont.woff2") format("svg"),
        url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}


h5{
    font-family: "Open Sans";
}