*{
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
/* .row{
    margin: 0;
    background-color: black;
} */
@keyframes example {
    from{
        background-color: blue;
    }
    to{
        background-color: yellow;
    }
}
@keyframes pro-animation{
    0%{
        background-color: blue;
        top: 0;
        left: 0;
    }
    25%{
        background-color: yellow;
        top: 0;
        left: 100px;
    }
    50%{
        background-color: green;
        top: 100px;
        left: 100px;
    }
    75%{
        background-color: orange;
        top: 50px;
        left: 50px;
    }
    100%{
        background-color: black;
        top: 0;
        left: 0;
    }
}
.container{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.simple-animation{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: blue;
    /* animation-name: pro-animation; */
    animation-duration: 5s;
    /* animation-iteration-count: 3; */
    /* animation-iteration-count: infinite; */
    /* animation-delay: 30s; */

}
button{
    background-color: red;
    color:white;
    border: none;
    padding: 20px;
    transition: all 2s;
    position: absolute;
    
    /* transition-delay: 5s;  */
}
button:hover{
    animation-name: pro-animation;
    animation-duration: 5s;
    background-color: black;
    /* transform: ; */
    /* rotate: -180deg; */
    /* scale: 0.5 0.5; */
    transform: translate(-50px, 100px);
}

svg path{
    fill:red;
    stroke: gold;
    stroke-width: 3px;
}